/* * {
  outline: solid black 2px;
} */

/* Base Styles */

body {
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 0.5rem 2rem 0 2rem;
}

/* Headings */

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h2 {
  margin-bottom: 0rem;
}

/* TODO: add other heading levels */

/* Paragraphs */
p {
  margin-top: 0rem;
}

/* Links */

a {
  font-weight: bold;
  color: #000;
}

a:visited {
  color: #6a3699;
}

a:visited.no-visited-state {
  color: #000;
}

/* Embedded Expo Snacks */

div[data-snack-id] {
  overflow: hidden;
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  height: 505px;
  width: 100%;
}

/* Inline Code Highlighting */

code.inline-highlight {
  font-family:
    "Roboto Mono", Consolas, Monaco, "Andale Mono", "Courier New", Courier,
    monospace;
  font-weight: normal;
  background-color: #efefef;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 0.5rem;
}
